<div class="row" style="height: 200px; margin-top: 50px;">
  <div class="col-md-1 col-md-2">
    <div></div>
  </div>
  <div class="col-md-4 col-md-4">
  <div class="row">


        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object dp img-circle" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSEWK8Qd-GnnSpbp_tvCqhgyPYWfQ1dCeyyG80a8PxJAgUHuKQlwiIIGQ" style="width: 100px;height:100px;">
            </a>
            <div class="media-body">
                <h4 class="media-heading"> <%= @user.name.capitalize! %><small> India</small></h4>
                <h5>Software Developer at <a href="http://gridle.in">Gridle.in</a></h5>
                <hr style="margin:8px auto">

                <span class="label label-default">HTML5/CSS3</span>
                <span class="label label-default">jQuery</span>
                <span class="label label-info">CakePHP</span>
                <span class="label label-default">Android</span>
            </div>
        </div>


    

</div>
  </div>
  <div class="col-md-4 col-md-4">
    <div></div>
  </div>
  <div class="col-md-2 col-md-2">
    <div></div>
  </div>
</div>

<div class="row" style="margin-top: 50px;">
  <div class="col-md-1 col-md-2">
    <div></div>
  </div>
  <div class="col-md-4 col-md-4">
  <div class="row">
  <legend>Your questions:</legend>
  <% @questions.each do |question|%>
    <div class="well"><h4 style="color: green;"><%= question.title %></h4></br><p><%= question.description %></p></div>
  <% end %>
</div>
  </div>
  <div class="col-md-4 col-md-4">
    <legend>Your answers:</legend>
  </div>
  <div class="col-md-2 col-md-2">
    <div></div>
  </div>
</div>
